%div{ :style => 'font-size:0.8em; position:absolute; left:745px;' }
  OMB Approval No. 2502-0265
%img{ :alt => 'hud_logo', :width => '85', :height => '80', :src => 'http://localhost:3000/images/hudseal.gif' }
%div{ :style => 'font-size:2em; position:absolute; top:30px; left:150px;' }
  A. 
  %b Settlement Statement (HUD-1)
