<% if @entities.size > 0 %>
  $("tbody#entity_results").html("<%= j(render 'file_entities/partials/search_results', entities: @entities, file: @file, positions: @positions).html_safe %>");
<% else %>
	$("tbody#entity_results").html("<p style='font-style: italic; color: #9B9B9B; padding-left: 5px; margin-top: 5px;'>Search returned 0 results.</p>");
<% end %>