<div id="add_employee" class="add_employee">
  <%= @file.DisplayFileID %>
  <div class="overlay_header">
    <h2>Add Employees</h2>
  </div>
  <div class="overlay_content">
    <%= form_for 'search_form', url: 'employees/search', name: 'search_form', remote: true do %>
      <h4>Search: <input type="text" name="search_value" id="search" class="search" placeholder="Begin Typing Here..."><%= image_submit_tag "search.png", id: "search_button", class: 'search_button' %></h4>
    <% end %>
    <div class="border">
      <table class="grid_header">
        <tr>
          <td class="name">Name</td>
          <td class="position">Position</td>
          <td class="email">Email</td>
          <td class="spacer_15"></td>
        </tr>
      </table>
      <div id="result" class="result">
        <%= render 'employees/search_employees' %>
      </div>
    </div>
  </div>
  <div class="overlay_footer">
    <input type="submit" value="Cancel" class="button close" />
    <input type="submit" value="Save" class="button close" />
  </div>
</div>
