<% content_for :overlay_title do %>
  Cancel Order
<% end %>
<% content_for :overlay do %>
  <%= form_tag index_path(@file.ID), method: :delete, remote: true, onsubmit: "closeOverlay('cancel_note');" do %>
    <table>
      <tr>
        <td colspan="2" style="padding-bottom: 5px;" class="label">Please specify why this order if being cancelled.</td>
      </tr>
      <tr>
        <td class="label" style="vertical-align: top;"><span>Message:</span></td>
        <td class="input_field"><%= text_area_tag :message, '', rows: 3, cols: 37, id: "cancel_note_message", onblur: "if($(this).val() != ''){$('#cancel_note_submit').attr('disabled', false)}else{$('#cancel_note_submit').attr('disabled', true)}", onkeyup: "if($(this).val() != ''){$('#cancel_note_submit').attr('disabled', false)}else{$('#cancel_note_submit').attr('disabled', true)}" %></td>
      </tr>
    </table>
    <%= hidden_field_tag :entered_by, "#{current_user.employee_id}" %>
    <%= hidden_field_tag :file, @file.ID %>
  <% end %>
<% end %>