<div class="result_container">
  <div class="grid_header"></div>
  <div>
    <table class="overview_notes sortable">
      <thead class="grid_header_font">
        <tr>
          <th class="from">
            <div>Note From <%= link_to image_tag("plus.png", class: "icon"), new_file_note_overlay_path(@file.ID), remote: true %></div>
          </th>
          <th class="to"><div>To</div></th>
          <th class="entered"><div>Entered Date</div></th>
          <th class="remind"><div>Remind Date</div></th>
          <th class="note"><div>Note</div></th>
        </tr>
      </thead>
      <tbody id="overview_notes_list" class="results highlight">
        <%= render 'file_notes/partials/overview_notes' %>
      </tbody>
    </table>
  </div>
</div>
