- if n == "1"
  %div{ :style => 'font-size:0.75em; width:915px; padding-top:5px; padding-bottom:5px;' }
    The Public Reporting Burden for this collection of information is estimated at 35 minutes per response for collecting, reviewing, and reporting the data.
    This agency may not collect this information, and you are not required to complete this form, unless it displays a currently valid OMB control number.
    No confidentiality is assured; this disclosure is mandatory. This is designed to provide the parties to a RESPA covered transaction with information
    during the settlement process.
%hr{ :style => 'width:915px; border: 1px solid;' }
%center{ :style => 'font-size:0.75em; width:915px;' } 
  Page 
  = n 
  of 3
  %div{ :style => 'float:left;' }
    Previous edition are obsolete
  %div{ :style => 'float:right;' }
    HUD-1
