<div id="add_edit_signature">
	<div class="overlay_header">
		<h2>Edit Signature</h2>
	</div>
	<div class="overlay_content">
		<table>
			<tr>
				<td><span class="label">Signature:</span></td>
				<td><input type="text" /></td>
			</tr>
			<tr>
				<td><span class="label">Affiliation:</span></td>
				<td><input type="text" /><%= link_to image_tag("search.png", class: "icon") %></td>
			</tr>
			<tr>
				<td><span class="label">Document:</span></td>
				<td><input type="text" /><%= link_to image_tag("attach.png", class: "icon") %></td>
			</tr>
		</table>
	</div>
	<div class="overlay_footer">
			<input type="submit" value="Cancel" class="button close" />
			<input type="submit" value="Save" class="button close" /></p>
		</div>
</div>
