<div style="display: none;" id="tmp_holder">
	<a href="/index/display_all_file_images?tmp_file=<%= @tmp_file %>" id='display_pdf_link' target="_blank">Display</a>
</div>

<script type="text/javascript">
	document.getElementById("display_pdf_link").click(function(){});
  $("div#tmp_holder").html("");
  $("div#tmp_holder").remove("");
</script>