<% content = file_product_html %>
<a id="display_file_product" target="_blank" href="/file_products/display?content=<%= content %>"></a>

<script type="text/javascript">
  document.getElementById("display_file_product").click(function(){});
  $("div#print_box").html("");
</script>