<div  id="add_edit_rolodex">
  <div class="overlay_header">
    <h2>Edit Contact</h2>
  </div>
  <%= render "form" %>
  <div class="overlay_footer">
    <p class="label error">* Indicates a required field
      <input type="submit" value="Cancel" class="button close" />
      <input type="submit" value="Save" class="button close" />
    </p>
  </div>
</div>
