// This will display the entity form based on user selected type in the new contact form.
$("div#entity_info").html("<%= j(render "rolodex/partials/entity_form").html_safe %>");

if($("#entity_IndCorp").val() != "Individual"){
	$("#new_rolodex_contact_info").find("select").each(function(){
		if($(this).val() == "Email"){
			$(this).closest('tr').remove();
		}
	});
	$("#new_rolodex_contact_info").find("option[value=Email]").remove();
}
else{
	$("#new_rolodex_contact_info").find("select").each(function(){
		if($(this).find("option[value=Email]").val() == undefined){
			$('<option value="Email">Email</option>').insertBefore( $(this).find("option[value=Fax]") );
		}
	});
	$("#new_rolodex_contact_info").append("<%= j(render "rolodex/partials/contact_info_row", :locals => {:type => "Email"}).html_safe %>");
	initRolodexFormPosition( $("tr#contact_info_BLANK") );
}