<div id="add_edit_note">
	<div class="overlay_header">
		<h2>Edit Note</h2>
	</div>
	<div class="overlay_content">
		<table>
			<tr>
				<td><span class="label">From:</span><br /><select><option>Milo Siner</option><option>Sheila Sutico</option></select></td>
			</tr>
			<tr>
				<td><span class="label">To:</span><br /><select><option>Milo Siner</option><option selected="selected">Sheila Sutico</option></select></td>
			</tr>
			<tr>
				<td><span class="label">Message:</span><br /><textarea rows="3" cols="37"></textarea></td>
			</tr>
		</table>
	</div>
	<div class="overlay_footer">
			<input type="submit" value="Cancel" class="button close" />
			<input type="submit" value="Save" class="button close" />
		</div>
</div>