<% content_for :overlay_class do %>
  line_type
<% end %>

<% content_for :overlay_title do %>
  Insert Line
<% end %>

<% content_for :overlay do %>
  <div class="overlay_content">
    <%= form_for @line, url: "#{insert_line_ss_line_path(@line, where: @where)}", html: {method: :put, remote: true} do |f| %>
      <table>
        <tr>
          <td class="label">Type:</td>
          <td><%= f.select :line_type, options_for_select(SsLine.line_type_options) %></td>
        </tr>
      </table>
    <% end %>
  </div>
<% end %>