<div id="header" class="header">
  <%= render "layouts/partials/logo" %>
  <div class="divider"></div>
  <div class="navigation">
    <%= render "layouts/partials/navigation" %>
  </div>
  <%= render "layouts/partials/menu" %>
</div>

<div id="filebin_overlay" class="filebin_overlay">
  <center><h1 id="filebin_overlay_text"></h1></center>
</div>

<div id="flash-message">
  <%= flash_message %>
</div>