<span id="task_bar_target" onmouseover="var dragTimer; $('#task_bar').css('bottom','0px'); clearTimeout(dragTimer);"></span>
<div id="task_bar" onmouseover="clearTimeout(dragTimer);" onmouseout="dragTimer = setTimeout(function(){$('#task_bar').css('bottom','-30px');}, 4000);"></div>